.wrapper {

    .header {
        display: flex;
        justify-content: center;
    }

    .input {
        padding: 5px;
        height: 160px;
        width: 350px;
        border-radius: 15px;



    }
}